package {{package}};

{{#imports}}
import {{.}};
{{/imports}}

public class {{name}} extends AbstractWrapper<{{nmsClassName}}, {{name}}, {{interfaceFullType}}> implements {{interfaceFullType}} {

	{{#simpleGetter}}
	{{#.}}
	@Override
	public {{{returnType}}} {{name}}(){
		{{#returning}}return {{/returning}}handle().{{method}}();
	}
	
	{{/.}}
	{{/simpleGetter}}

	{{#fieldGetter}}
	{{#.}}
	@Override
	public {{{returnType}}} {{name}}(){
		{{#returning}}return {{/returning}}handle().{{method}};
	}
	
	{{/.}}
	{{/fieldGetter}}

	{{#simplePassthrough}}
	{{#.}}
	@Override
	public {{{returnType}}} {{name}}({{argsDef}}){
		{{#returning}}return {{/returning}}handle().{{method}}({{params}});
	}
	
	{{/.}}
	{{/simplePassthrough}}
}